<div class="container">
  <div class="row">
    <div class="col-8"> 
       <div class="card">
          <div class="card-header bg-success">
            <div class="row">
              <div class="col-6">User List</div>
              <div class="col-6 text-end">
                <button class="btn btn-primary btn-sm">Add Emp</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
              

<th>Sr. No</th>
                  <th> username</th>
                  <th> fName</th>
                  <th> lName</th>
                  <th> city</th>
                  <th> state</th>
                  <th> zipCode</th>
                  <th>Action</th>


                </tr>
              </thead>
              <tbody>
               
                  @for (userList of userList$; track $index) {
                    <tr>
                      <td> {{$index+1}} </td>
                    <td> {{userList.username}} </td>
                    <td> {{userList.fName}} </td>
                    <td> {{userList.lName}} </td>
                    <td> {{userList.city}} </td>
                    <td> {{userList.state}} </td>
                    <td> {{userList.zipCode}} </td>
                    <td>
                      <button class="btn btn-warning btn-sm" (click)="onUpdateUser(userList)"> Update User </button> || 
                      <button class="btn btn-danger btn-sm" (click)="onDeleteUser(userList.userId)"> Delete User </button>
                    </td>
                  </tr>
                  }
                  
             
              </tbody>
            </table>
          </div>
        
       </div>

    </div>
    <div class="col-4"> 
      <div class="card">
        <div class="card-header bg-success">
          <div class="row">
            <div class="col-6">New User</div>
            <div class="col-6 text-end">
              <button class="btn btn-primary btn-sm">Close</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form action="/action_page.php">
            <div class="mb-3 mt-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text"  [(ngModel)]="userObj.username" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="mb-3 mt-3">
              <label for="fName" class="form-label">fName:</label>
              <input type="fName" [(ngModel)]="userObj.fName" class="form-control" id="fName" placeholder="Enter fName" name="fName">
            </div>
            <div class="mb-3 mt-3">
              <label for="lName" class="form-label">lName:</label>
              <input type="text" [(ngModel)]="userObj.lName" class="form-control" id="lName" placeholder="Enter lName" name="lName">
            </div>


            <div class="mb-3 mt-3">
              <label for="city" class="form-label">city:</label>
              <!-- <input type="text" [(ngModel)]="userObj.city" class="form-control" id="city" placeholder="Enter city" name="city"> -->
              <select  [(ngModel)]="userObj.city" class="form-select" id="city" placeholder="Enter city" name="city">
                @for (city of cityList$|async ; track $index) {
                  <option> {{city}} </option>
                }
              </select>
            </div>
            <div class="mb-3 mt-3">
              <label for="state" class="form-label">state:</label>
              <!-- <input type="text" [(ngModel)]="userObj.state" class="form-control" id="state" placeholder="Enter state" name="state"> -->
              <select  [(ngModel)]="userObj.state" class="form-select" id="state" placeholder="Enter state" name="state">
                @for (state of stateList$ ; track $index) {
                  <option> {{state}} </option>
                }
                
                
              </select>
            </div>
            <div class="mb-3 mt-3">
              <label for="zipCode" class="form-label">zipCode:</label>
              <input type="text" [(ngModel)]="userObj.zipCode" class="form-control" id="zipCode" placeholder="Enter zipCode" name="zipCode">
            </div>
          
           
            <button type="submit" class="btn btn-primary" (click)="onSaveUser()" >Submit</button>
          </form>
        </div>
      
     </div>
    </div>
  </div>
</div>






<router-outlet />
